body {
    
    background-image: url("images/homepagemountain.jpg");
    background-size: cover;
  }
  
  h1{color: rgb(0, 0, 0);
    text-align: center;
    font-family: verdana;
    font-size: 40px;
    border: 10px;
    background-color: rgb(208, 250, 253);
    border-style:groove;
    border-color:rgba(189, 189, 189, 0.336);
}

  h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 24px;
  }

  
  h3 {
     color: white;
     text-align: center;
     font-family: verdana;
     font-size: 24px;
     border-bottom-color:rgb(17, 31, 153);
     border-bottom-style:groove;
  }
  img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    height:50%;
    border:10px;
    border-color:white;
    border-style:ridge ;
  }
  p {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    


  }
  .info { 
    text-align: left;
    margin-left: 10%;
    position: absolute;
    top: 25%;
    left: 5%; 
    color: white;
    background-color:rgba(0, 0, 0, 0.5); 
    padding: 10px;
  
    
  }

  .infotitle { 
    text-align: left;
    margin-left: 10%;
    position: absolute;
    top: 15%;
    left: 5%; 
    color: white;
    background-color:rgba(0, 0, 0, 0.5); 
    padding: 10px;
  
    
  }
  span {
    background-color: rgba(255, 255, 255, 0.568);
    
}

  main {border: 10px;
    background-color: rgb(255, 255, 255);
    border-style:groove;
    border-color:rgba(189, 189, 189, 0.336);    
}
  #navbanner a {border: 5px;
    background-color: rgb(25, 25, 27);
    border-style:groove;
    border-color:rgba(189, 189, 189, 0.336);
    color:white;
  }
  


